/*-----------------------------*/
/*------------RESET------------*/
/*-----------------------------*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     -webkit-font-smoothing: antialiased;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 body {
     line-height: 1;
}
 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
 * {
     transition-timing-function: ease-in-out;
     -ms-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
     -webkit-transition-timing-function: ease-in-out;
     -o-transition-timing-function: ease-in-out;
     transition-duration: .2s;
     -ms-transition-duration: .2s;
     -moz-transition-duration: .2s;
     -webkit-transition-duration: .2s;
     -o-transition-duration: .2s;
     margin: 0;
     padding: 0;
}
/* -------------------------------- Primary style -------------------------------- */
 h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}
 a, a:active, a:focus {
     color: #6f6f6f;
     text-decoration: none;
}
 a:hover, a:active {
     color: #ff214f;
     text-decoration: none;
}
 a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
     outline: none;
}
 img {
     max-width: 100%;
     height: auto;
}


/* nav */
.nav {
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #86eecb;
    cursor: pointer;
    border: none;
    width: 48px;
    height: 48px;
    float: left;
    position: relative;
    z-index: 1;
    margin-right: 25px
}
.nav:focus {
    outline: none;
}
.nav .icon-container {
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.nav .line {
    width: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    background-color: #545454;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.nav .line01 {
    top: 0;
    opacity: 1;
    transition-delay: 210ms;
}
.nav .line02 {
    top: 7px;
    transition-delay: 140ms;
}
.nav .line03 {
    top: 14px;
    transition-delay: 70ms;
}
.nav .line04 {
    top: 21px;
    opacity: 0;
    transition-delay: 0ms;
}
.active .nav .line {
    left: 28px;
}
.nav:hover .line {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}
.nav:hover .line01 {
    opacity: 0;
    transition-delay: 0ms;
}
.nav:hover .line02 {
    transition-delay: 70ms;
}
.nav:hover .line03 {
    transition-delay: 140ms;
}
.nav:hover .line04 {
    opacity: 1;
    transition-delay: 210ms;
}
.open.nav .line {
    transition: all 0.3s;
}
.open.nav:hover .line {
    -webkit-transform: none;
    transform: none;
}
.open.nav .line:nth-child(2) {
    background: 0;
}
.open.nav .line:nth-child(4) {
    background: 0;
}
.open.nav .line:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
    opacity: 1;
}
.open.nav .line:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
    opacity: 1;
}
.works-filter {
    float: left;
    line-height: 46px;
    margin-bottom: 42px;
}
.works-filter a {
    display: inline-block;
    font-size: 18px;
    padding-right: 8px;
    padding-left: 8px;
    color: #111111;
    font-weight: 300;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
}
.works-filter.open a {
    opacity: 1;
    transition: all 300ms cubic-bezier(.175, .885, .32, 1.075);
}
.works-filter.open a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.works-filter.open a:nth-child(1) {
    transition-duration: 600ms;
}
.works-filter.open a:nth-child(2) {
    transition-duration: 400ms
}
.works-filter.open a:nth-child(3) {
    transition-duration: 300ms
}
.works-filter.open a:nth-child(4) {
    transition-duration: 200ms
}
.works-filter a.active {
    color: #7beec7;
}

#work-grid, #dribbble-portfolio {
    clear: both;
}


@media(max-width:767px){
    .works-filter a {
    display: block;
    width: 100%;
}
    button.nav {
    float: none;
}
    .works-filter {
    float: none;
    width: 100%;
    height: auto;
}
    
}

